

      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a target="_blank" rel="noopener noreferrer"
                  class="nav-link" style="text-align:left;">
                TEXT SUMMARIZATION SOFTWARE
              </a>
            </li>
          </ul>
          <div class="copyright">
            &copy; <a target="_blank" rel="sponsored noopener noreferrer" 
                      >Athena</a> 
            - coded by <a href="https://www.linkedin.com/in/aaditya-yadav-a556a61b1">Aaditya<a> & <a href="https://www.linkedin.com/in/ojas1607">Ojas</a>
          </div>
        </div>
      </footer>
      
