

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a target="_blank" rel="sponsored noopener noreferrer" 
            class="simple-text logo-mini">
            :)
          </a>
          <a target="_blank" rel="sponsored noopener noreferrer" 
            class="simple-text logo-normal">
            Menu
          </a>
        </div>

        <ul class="nav">

          <li class="{% if 'typography' in segment %} active {% endif %}">
            <a href="/ui-typography.html">
              <i class="tim-icons icon-align-center"></i>
              <p>About Athena</p>
            </a>
          </li>


          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/index">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Summarizer</p>
            </a>
          </li>

          <li class="{% if 'tables' in segment %} active {% endif %}">
            <a href="/ui-tables.html">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>PDF List</p>
            </a>
          </li>
                    
        </ul>
        
      </div>
    </div>
